# https://github.com/JetBrains/ideavim

# Extensions to enable
set commentary
set easymotion
set surround

# Vim Specific Setings
######################
# yank to clipboard
set clipboard+=unnamed

# case insensitive search
set ignorecase
set smartcase

# show results while search
set incsearch
