# CLI Aliases
alias ll="ls -alh"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Custom binary aliases
if [ -x "$(command -v exa)" ]; then
  alias ls="exa --group-directories-first -F"
  alias ll="ls -algh"
fi

if [ -x "$(command -v ncdu)" ]; then
  alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"
fi

if [ -x "$(command -v bat)" ]; then
  alias cat="bat"
fi

if [ -x "$(command -v diff-so-fancy)" ]; then
  alias diff="git diff --no-index"
fi

# Emacs
alias e="emacsclient -t -a ''"
alias ec="emacsclient -c -n -a ''"

# Tmux
alias tma='tmux attach'
alias tmn='tmux new'
alias tml='tmux list-sessions'

# Bundler
alias b="bundle"
alias be="bundle exec"
alias ber="bundle exec rspec"

# Rails
alias frrc="foreman run rails console"
alias frrs="foreman run rails s -b 0.0.0.0"
alias frrr="foreman run rails runner"
alias frbe="foreman run bundle exec"
alias rc="rails c"
alias rs="rails s"
alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias s="rspec"

# Pretty print the PATH env
alias path='echo $PATH | tr -s ":" "\n"'

# Remove lt alias so localtunnel works
unalias lt

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
